.Pet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #D5D5D9;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
    grid-column: 1 / -1;
    padding: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Pet-item {
        grid-column: span 6;
    }
}

@media (min-width: 1024px) {
    .Pet-item {
        grid-column: span 4;
    }
}


.Pet-image {
    width: 80px;
}

.Pet-details-label {
    font-weight: 500;
}

.Delete-button {
    background: none;
    border: none;
}

.Delete-button:hover {
    cursor: pointer;
}

.Delete-icon {
    height: 20px;
    width: 20px;
}
