@import '../../../../theme/media-queries';

.Pet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #D5D5D9;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
    padding: 20px;
    grid-column: span 12;

    @include for-desktop {
        grid-column: span 6;
    }
}

.Pet-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.Pet-details-label {
    font-weight: 500;
}

.Delete-button {
    background: none;
    border: none;
}

.Delete-button:hover {
    cursor: pointer;
}

.Delete-icon {
    height: 20px;
    width: 20px;
}

.Loading-spinner {
    position: absolute;
}
