.Pet-item {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #D5D5D9;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
    padding: 20px;
}

.Pet-image {
    width: 80px;
}

.Pet-details-label {
    font-weight: 500;
}

.Delete-button {
    background: none;
    border: none;
}

.Delete-button:hover {
    cursor: pointer;
}

.Delete-icon {
    height: 20px;
    width: 20px;
}
