.PetItem {
  display: flex;
  align-items: center;
  gap: 20px;
  border: solid 1px #d5d5d9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  height: 100%;
}

.PetImage {
  width: 80px;
}

.PetDetailsLabel {
  font-weight: 500;
}
