.Pet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #d5d5d9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
}

.Pet-image {
  width: 80px;
}

.Pet-details-label {
  font-weight: 500;
}

.Delete-button {
  background: none;
  border: none;
}

.Delete-button:hover {
  cursor: pointer;
}

.Delete-icon {
  height: 20px;
  width: 20px;
}
