.Pet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #d5d5d9;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 6%);
  margin-bottom: 10px;
  padding: 20px;
  flex: 33%;
}

.Pet-item.dummy-pet {
  visibility: hidden;
}

.Pet-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.Pet-details-label {
  font-weight: 500;
}

.Delete-button {
  background: none;
  border: none;
}

.Delete-button:hover {
  cursor: pointer;
}

.Delete-icon {
  height: 20px;
  width: 20px;
}
