.App-logo {
  margin: 20px 0;
}

.App-header {
  margin: 0 20px;
}

.App-content {
  margin: 0 20px;
  margin-top: 60px;
}

.Button {
  padding: 7px;
  font-size: 18px;
  cursor: pointer;
}

.Button:hover {
  cursor: pointer;
}
