body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #585668;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: #04afa2;
  padding: 8px 14px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
