.Pet-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  border: solid 1px #d5d5d9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  padding: 20px;
}

.Pet-image {
  width: 80px;
}

.Pet-details-label {
  font-weight: 500;
}

.Pet-delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  background: darkgray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.Pet-delete-button:hover {
  background: gray;
}
