.Pet-item {
  align-items: center;
  border: solid 1px #d5d5d9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  margin-bottom: 10px;
  min-width: 258px;
  padding: 10px;
}

.Pet-image {
  height: 50px;
  width: 50px;
}

.Pet-details-label {
  font-weight: 500;
}

.Delete-button {
  background: none;
  border: none;
}

.Delete-button:hover {
  cursor: pointer;
}

.Delete-icon {
  height: 15px;
  width: 15px;
}

@media only screen and (min-width: 568px) {
  .Pet-item {
    font-size: 1rem;
    margin-right: 10px;
  }

  .Delete-icon {
    height: 20px;
    width: 20px;
  }

  .Pet-image {
    height: 80px;
    width: 80px;
  }
}
